 p {
    font-family: Roboto;
  }
   .vedio-title {
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
   }


   .vedio-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px;
   }


   .vedio-author {
    color:rgb(96, 96, 96) ;
    font-size: 14px;
    margin-bottom: 20px;
   }


  .vedio-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
  }

  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: #e34140;
    display: block;
    box-sizing: border-box;
    color: white;     
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 500px;
  }

  .span-example {
    cursor: pointer;
    transition: opacity 0.15s,
    color 0.15s;
    margin-left: 5px;
  }

  .span-example:hover{
    opacity: 0.8;
    color: aquamarine;
    text-decoration: underline;
  }

  .an-example:active {
    opacity: 0.8;
  }



