.subscribe-button { 

    background-color: rgb(166, 15, 15);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: opacity  0.5s;
    vertical-align: top;
  }

  .subscribe-button:hover {
    opacity: 0.7;
  } 
  .subscribe-button:active {
    opacity: 0.4;
  }

  .join-button {
    background-color: white;
    color: rgba(44, 113, 209, 0.872);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    border-width: 1px;
    margin-right: 8px;
    border-color: rgba(44, 113, 209, 0.872);
    cursor: pointer;
    transition: background-color 0.5s,
      color 0.5;
    
  }
  .join-button:hover {
    background-color: rgb(43, 108, 227);
    color: white; 
  }
  .join-button:active{
    opacity: 0.4;
  }

   .tweet-button {
     background-color: rgb(56, 125, 210);
     color: rgba(255, 255, 255, 0.992);
     border-style: outset;
     border: none;
     border-radius: 18px; 
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 16px;
     padding-right: 16px;
     vertical-align: top;
     font-weight: bold;
     font-size: 15px;
     cursor: pointer;
     transition: box-shadow 0.15s;
   }
   .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   }