
    
    .image-first{
      width:100%;
      margin-top: 10px;
    }
    .image-1{
      position: relative;
    }

    .vedio-action{
      width: 100%;
      margin-top: 10px;
      vertical-align: top;
    }
     .vedio-description{
      vertical-align: top;
      margin-top: 10px;
    }
    .second-image{
      width: 100%;
      margin-top: 10px;
    }
    .vedio-title{
      font-weight: 500;
      font-size: 14px;
    }
    .title-2{
      font-weight: 500;
      font-size: 14px;
    }
    .vedio-star{
      font-size: 12px;
      color: rgb(96,96,96);
      margin-top: 12px;
    }
    .star-2{
      font-size: 12px;
      color: rgb(96,96,96);
      margin-top: 12px;
    }
    .vedio-author{
      font-size: 12px;
      color: rgb(96,96,96);
      margin-top: 4px;
    }
    .author-2{
      font-size: 12px;
      color: rgb(96,96,96);
      margin-top: 4px;
    }
    .sub-image{
      display: grid;
      grid-template-columns: 25px 1fr;
      margin-top: 10px;
    }
  
    .profile-picture{
      border-radius: 20px;
      width: 25px;
    }
    .first-text {
      width: 250px;
      line-height: 18px;
      
    }
    .profile-2{
      width: 40px;
      border-radius: 20px;
    }
    .sub-2{
      display: grid;
      grid-template-columns: 50px 1fr;
      margin-top: 10px;
    }
    .vedio-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
      row-gap: 20px;
    }

     @media(max-width:750px){
      .vedio-grid{
        grid-template-columns: 1fr 1fr;
      }
     }

     
     @media(min-width:751px) and (max-width:999px){
      .vedio-grid{
        grid-template-columns: 1fr 1fr 1fr ;
      }
     }


     @media(min-width:1000px) {
      .vedio-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
     }
     

    .vedio-time{
      font-size: 12px;
      font-weight: 500;
      padding: 4px ;
      border-radius: 2px;
      background-color: black;
      color: white;
      position: absolute;
      bottom: 8px;
      right: 5px;
    }
    